streamlit>=1.25.0
plotly
hydralit_components
pyvis
pandas
matplotlib
altair
streamlit-aggrid
numpy==1.26.2
openpyxl
msrest==0.7.1
cachetools==5.5.0
certifi==2024.8.30
blinker==1.9.0
requests==2.32.3
requests-oauthlib==2.0.0
pydeck==0.9.1
python-docx==1.1.2
Pillow==10.1.0
pdfplumber==0.11.4
pdfminer.six==20231228
pytesseract
Pillow
pdf2image
tesseract
requests
anthropic
